<!-- /***
 *    ██╗  ██╗ ██████╗ ███╗   ███╗███████╗
 *    ██║  ██║██╔═══██╗████╗ ████║██╔════╝
 *    ███████║██║   ██║██╔████╔██║█████╗
 *    ██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
 *    ██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ████████╗███████╗███╗   ███╗██████╗ ██╗      █████╗ ████████╗███████╗
 *    ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██║     ██╔══██╗╚══██╔══╝██╔════╝
 *       ██║   █████╗  ██╔████╔██║██████╔╝██║     ███████║   ██║   █████╗
 *       ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║     ██╔══██║   ██║   ██╔══╝
 *       ██║   ███████╗██║ ╚═╝ ██║██║     ███████╗██║  ██║   ██║   ███████╗
 *       ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *
 */ -->
 <mat-card
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      class="content-container">
    <span class="big-header">This is HOME Component at work...</span>
 </mat-card>
