<!-- /***
 *    ██╗     ██╗███████╗████████╗
 *    ██║     ██║██╔════╝╚══██╔══╝
 *    ██║     ██║███████╗   ██║
 *    ██║     ██║╚════██║   ██║
 *    ███████╗██║███████║   ██║
 *    ╚══════╝╚═╝╚══════╝   ╚═╝
 *
 *    ████████╗██████╗ ██╗██████╗ ███████╗
 *    ╚══██╔══╝██╔══██╗██║██╔══██╗██╔════╝
 *       ██║   ██████╔╝██║██████╔╝███████╗
 *       ██║   ██╔══██╗██║██╔═══╝ ╚════██║
 *       ██║   ██║  ██║██║██║     ███████║
 *       ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝     ╚══════╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ████████╗███████╗███╗   ███╗██████╗ ██╗      █████╗ ████████╗███████╗
 *    ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██║     ██╔══██╗╚══██╔══╝██╔════╝
 *       ██║   █████╗  ██╔████╔██║██████╔╝██║     ███████║   ██║   █████╗
 *       ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║     ██╔══██║   ██║   ██╔══╝
 *       ██║   ███████╗██║ ╚═╝ ██║██║     ███████╗██║  ██║   ██║   ███████╗
 *       ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *
 */ -->
This is LIST-TRIPS Component at work...
